<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightappbuilder.lab4.labsocial">

    <application
        android:allowBackup="true">

        <!--微信回调Activity 与别名 需放在引用的工程中-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.lightappbuilder.lab4.labsocial.wxapi.WXEntryActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
    </application>

</manifest>
