<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightappbuilder.lab4.labvideo">

    <application android:allowBackup="true">

        <activity
            android:name=".LABVideoActivity"
            android:theme="@style/LABVideoActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"/>

    </application>

</manifest>
