<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pingplusplus.libone">

    <application
        android:allowBackup="true" >

        <!-- 壹收款 -->
        <activity
            android:name="com.pingplusplus.libone.PayActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent"
            android:label="@string/pingpp_title_activity_pay"/>
        <activity
            android:name="com.pingplusplus.libone.PaySuccessActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/pingpp_title_activity_pay_sucessed"/>

    </application>

</manifest>
